#about {
	z-index: 66;
	background: #fff url(../svg/logo_zero_light.svg) no-repeat center/60%;
	width: 100%;
	position: absolute;
	top: 0;
	left: -150%;
	right: 0;
	bottom: 0;
	-webkit-transition: left 0.35s ease-in-out;
	transition: left 0.35s ease-in-out;
}

#about.visible {
	left: 0px;
	width: 100%;
}

#about article {
	position: absolute;
	padding: 2%;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#about h1 {
	font-style: italic;
	font-size: 2.5em;
	line-height: 1em;
	margin: 0;
	padding: 1% 0;
}

#about p {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	position: relative;
}

#about a {
	color: #111;
	text-decoration: none;
	opacity: .8;
}

#about .close {
	background: url(../svg/control_close.svg) center no-repeat;
	opacity: .6;
}

#about .close:hover {
	background: url(../svg/control_close.svg) center no-repeat;
	opacity: 1;
}

#about .close, #about .close:hover {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 130px;
	height: 130px;
	float: left;
	background-size: 96% auto;
}

#about .twitter {
	background: url(../svg/logo_twitter.svg);
}
#about .github {
	background: url(../svg/logo_github.svg);
}

#about .logo:hover {
	opacity: 1;
}

#about .logo {
	display: inline-block;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 1.3em 1.3em;
	text-indent: 1.4em;
}
